.nave-header{
    background-color: black;
    padding: 20px;
}

nav .a{
   text-decoration: none;
   margin-right: 30px;
   font-size: 20px;
   color: blanchedalmond;
}
.online-img{
    width: 250px;
}